body {
  background-image: url("../public/img/monet.jpg");
}

#header {
  background-color: #5cb85c;
  color: #fff;
}

.fc-time {
  font-weight: normal;
  float: right;
}

.jm {
  pointer-events: none;
  background-color: #FFF;
  border-color: #FFF;
  font-weight: normal;
}

.jm-expense {
  color: #B90000;
}

.jm-balance {
  color: #BDBDBD;
}
