<template name="login">
  <form id="login">
    <h1>Log in</h1>
    <div id="email-group" class="form-group">
      <p>
        <label for="loginEmail" class="form-control-label">Your email</label>
        <input id="loginEmail" class="form-control" name="loginemail" type="email" placeholder="mymail@mail.com" />
      </p>
    </div>
    <div id="password-group" class="form-group">
      <p>
        <small><a href="/forgot" class="forgot-link">Forgot your password?</a></small>
        <label for="loginPassword" class="form-control-label"> Your password </label>
        <input id="loginPassword" class="form-control" name="loginpassword" type="password" placeholder="y0urGR3@7P@ssw0rd" />
      </p>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success btn-block" value="Login" />
    </div>
    <p class="change_link">
      Not a member yet?
      <a href="/register" class="to_register">Join us</a>
    </p>
  </form>
</template>
