<template name="newExpenseModal">
  <div class="modal fade" id="new-expense-modal" tabindex="-1" role="dialog" aria-labelledby="add-expense-label">
    <div class="modal-dialog" role="document">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-expense-label">Add an expense</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="expenseName">Expense name:</label>
              <input class="form-control" id="expenseName" placeholder="Your expense's name here">
            </div>
            <div class="form-group">
              <label for="expenseAmount">Amount:</label>
              <input class="form-control" type="number" id="expenseAmount" placeholder="Amount of expense">
            </div>
            <div id="reoccuranceTabs" class="form-group">
              <label for="expenseReoccurance">Reoccurs:</label>
              <div>
                <ul class="nav nav-pills" role="tablist">
                  <li role="presentation"><a href="#yearly" aria-controls="yearly" role="tab" data-toggle="pill">Yearly</a></li>
                  <li role="presentation" class="active"><a href="#monthly" aria-controls="monthly" role="tab" data-toggle="pill">Monthly</a></li>
                  <li role="presentation"><a href="#weekly" aria-controls="weekly" role="tab" data-toggle="pill">Weekly</a></li>
                  <li role="presentation"><a href="#never" aria-controls="never" role="tab" data-toggle="pill">Never</a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane" id="yearly">
                    Bill reoccurs yearly on the {{reoccursYearDate}}.
                  </div>
                  <div role="tabpanel" class="tab-pane active" id="monthly">
                    <p>
                      Bill reoccurs monthly on the {{reoccursMonthDate}}.
                    </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="weekly">
                    Bill reoccurs weekly on {{reoccursWeekDate}}.
                  </div>
                  <div role="tabpanel" class="tab-pane" id="never">
                    Bill does not reoccur.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Add Expense"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
