<template name="reset">
  <form id="reset">
    <h1> Reset your password </h1>
    <div class="form-group">
      <p>
        <label for="resetPassword" class="form-control-label">New password </label>
        <input id="resetPassword" class="form-control" name="resetpassword" type="password" placeholder="y0urGR3@7P@ssw0rd"/>
      </p>
    </div>
    <div class="form-group">
      <p>
        <label for="resetPasswordConfirm" class="form-control-label" >Please confirm your password </label>
        <input id="resetPasswordConfirm" class="form-control" name="resetpassword_confirm" type="password" placeholder="y0urGR3@7P@ssw0rd"/>
      </p>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success btn-block" value="Reset your password" />
    </div>
  </form>
</template>
